body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: .03em;
}

a {
	color: #000;
    border-bottom: 1px solid seagreen;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	outline: none;
	text-decoration: none;
	color: seagreen;
    border-bottom: 1px solid seagreen;
}

p {
    font-size: 25px;
    line-height: 40px;
    font-weight: 100;
  margin-bottom: 1em;
}

::-webkit-selection {
  color: #FFF;
  background: #000;
}

::-moz-selection {
  color: #FFF;
  background: #000;
}

::selection {
  color: #FFF;
  background: #000;
}

#hl {
  background-color: #DDEDDE;
  color: black;
}

#fh5co-bio {
  line-height: 28px;
  font-weight: 100;
  position: absolute;
  background-color: white;
  color: #000;
  width: 33%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  float: left;
  z-index: 1;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
#fh5co-bio #fh5co-bio-inner {
  font-weight: 100;
  padding: 40px;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  #fh5co-bio #fh5co-bio-inner {
    padding: 20px;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-bio {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    position: relative;
  }
}
#fh5co-bio .fh5co-copyright {
  font-size: 20px;
  line-height: 20px;
  font-weight: 100;
  color: #ccc;
   
}

#fh5co-portrait {
  color: #000;
  z-index: 1;
  width: 66%;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
    
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 992px) {
  #fh5co-portrait {
    background-position: center;
    width: 100%;
    position: relative;
    height: 600px;
    overflow: inherit;
    left: 0;
    right: 0;
    float: left;
  }
}
#fh5co-portrait #fh5co-intro {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #fh5co-portrait #fh5co-intro {
    left: 20px;
    bottom: 20px;
  }
}
#fh5co-portrait #fh5co-intro a {
  color: #fff;
  color: white;
  border-bottom: 0px solid rgba(255, 255, 255, 0.2);
}
#fh5co-portrait #fh5co-intro a:hover {
  color: white;
  border-bottom: 2px solid white;
}
#fh5co-portrait #fh5co-intro h1 {
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
}
#fh5co-portrait #fh5co-intro h1 span {
  display: block;
}
@media screen and (max-width: 768px) {
  #fh5co-portrait #fh5co-intro h1 {
    font-size: 38px;
    line-height: 50px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-portrait #fh5co-intro h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
#fh5co-portrait #fh5co-intro p {
  margin: 0 0 2em 0;
}
#fh5co-portrait .overlay {
	background: linear-gradient(to top right,#000, hsla(200, 100%, 50%,0),hsla(923,100%,50%,0));
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;}

#fh5co-portrait .fh5co-social {
	position: absolute;
	bottom: 16px;
	right: 40px;
	z-index: 5;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
@media screen and (max-width: 992px) {
  #fh5co-portrait .fh5co-social {
    right: 60px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-portrait .fh5co-social {
    position: relative;
    left: 20px;
  }
}
#fh5co-portrait .fh5co-social ul {
  display: block;
  padding: 0;
  margin: 0;
}
#fh5co-portrait .fh5co-social ul li {
  display: inline;
  padding: 0;
  margin: 0;
}
#fh5co-portrait .fh5co-social ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  border-bottom: none !important;
}
#fh5co-portrait .fh5co-social ul li a:hover {
  color: white;
}

#fh5co-toggle {
  position: absolute;
  z-index: 4;
  top: 40px;
  right: 40px;
}

#fh5co-toggle a {
  font-size: 40px;
  color: rgb(46, 139, 87, 0.5);
  border-bottom: none !important;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.3s;
  display: inline-block;
}
#fh5co-toggle a:hover, #fh5co-toggle a:active {
    color: seagreen;
}

#fh5co-toggle a:focus {
    color: seagreen;
}

#fh5co-toggle a.fh5co-active {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (max-width: 992px) {
  #fh5co-toggle {
    top: auto;
    left: auto;
    top: 20px;
    right: 20px;
  }
  #fh5co-toggle a {
    border-bottom: none !important;
    font-size: 40px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  #fh5co-toggle a.fh5co-active {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.fh5co-showaside #fh5co-bio {
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .fh5co-showaside #fh5co-bio {
    position: absolute !important;
  }
}
.fh5co-showaside #fh5co-bio {
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .fh5co-showaside #fh5co-bio {
    position: absolute !important;
  }
}

.js .to-animate,
.js .to-animate-single {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
